PORT=3000
DATABASE_URL="postgresql://bureau_user:bureau_password@localhost:5432/bureau_db?schema=public"
QDRANT_URL="http://localhost:6333"
ELASTICSEARCH_URL="http://localhost:9200"

PROVIDER=nvidia
GROQ_API_KEY=your-groq-api-key-here
GROQ_MODEL=llama-3.3-70b-versatile

HF_ACCESS_TOKEN=your-hf-access-token-here
HF_EMBEDDINGS_MODEL=sentence-transformers/all-MiniLM-L6-v2

NVIDIA_API_KEY=your-nvidia-api-key-here
NVIDIA_MODEL=meta/llama-3.1-8b-instruct
